.accordion-button::after {
    background-image: url("../Image/page2/showmore.svg");
    transform: scale(5) !important;
    margin: 0 !important;
    height: 5px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../Image/page2/showLess.svg");
    margin: 0 !important;
    text-align: end;
}
